/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
}
footer {
    padding: 30px 0 5px 0;
    font-size: 0.85em;
}
.ol-no-padding {
    padding: 0;
}
.description-input {
    resize: vertical;
    min-height: 150px
}
.wizard-edit-info-form {
    max-width: 500px;
}
.ads-sample-template {
    height: 200px;
    position: relative;
}
.ads-sample-template div {
    border: 1px solid #CCC;
    text-align: center;
    font-size: 2em;
    color: #CCC;
}
.ads-sample-topbar > div {
    height: 48px;
    line-height: 48px;
}
.ads-sample-template.ads-sample-bottombar {
   height: 50px;
   margin-top: 138px;
}
.ads-sample-template.ads-sample-sidebar-left > div {
    height: 180px;
    width: 38px;
    padding: 0 5px 0 5px;
    word-break: break-all;
}
.padding-no {
    padding: 0 !important;
    margin: 0 !important;
}
.padding-5px {
    padding: 5px !important;
    margin: 0 !important;
}
.padding-no-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.padding-no-right {
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.margin-right-30px {
    margin-right: 30px;
}
.ads-frame {
    font-size: 11px;
    padding: 10px 0;
    background-color: #EEEDDD;
}
.ads-frame .ads-frame-image {
    width: 100%;
}
.ads-frame .ads-frame-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
    word-wrap: break-word;
}
.ads-frame .ads-frame-description {
    word-wrap: break-word;
}
.ads-frame .ads-image-preview-container {
    display: inline-block;
    width: 40%;
    margin-right: 5px;
    float: left;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}
.navbar {
    border-radius: 0;
}
.form-signin input {
    margin-bottom: 5px;
}
.big-font {
    font-size: 5em;
}
.big-font-3em {
    font-size: 3em;
}
.big-font-2em {
    font-size: 2em;
}
.ads-view-info {

}
.ads-view-info .ads-view-info-col {
    vertical-align: middle;
}
.border-right-light {
    border-right: 1px solid #CCCCCC;
}
.middle-align {
    vertical-align: middle;
}
.top-align {
    vertical-align: top;
}
.inline-block {
    display: inline-block;
}
.hover-do-underline:hover {
    text-decoration: none;
}
.tooltip-inner {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hide {
    display: none;
}
.ads-import-list {
    list-style: none;
    padding: 0;
}
.ads-import-list > li {
    padding-bottom: 5px;
}
.ads-list-panel {
    background-color: #EEEDDD;
    padding: 5px;
}
.ads-list-panel .image-frame {
    height: 100px;
    overflow: hidden;
}
.ads-list-panel .image-frame img {
    width: 100%;
}
.ads-list-panel .ads-title {
    font-weight: bold;
    font-size: 0.8em;
}
.ads-list-panel .ads-description {
    font-size: 0.8em;
}
.dashboard-number-status {
    font-size: .8em;
}
.ads-import-single-button {

}.ads-import-single-button:hover {
    text-decoration: none;
 }